*~
*.pyc
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
.pytest_cache

# Sphinx documentation
docs/_build/

# Miscellaneous
.vscode/
SyncToy*.dat

# Testing outputs
osw_output/
# !osw_output/measures
# !osw_output/eplus
# param_run/osw
# param_run/model
param_run/run
# param_run/output
param_run/tmp